<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Grupo DDM | Calidad Humana</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="favicon.png">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700">
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/jquery.slick/1.5.7/slick.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.swipebox/1.4.1/css/swipebox.min.css">
    <link rel="stylesheet" href="site/css/style.css">
  </head>
  <body ng-app="theApp">
    <header data-sr="enter top move 24px scale 0%" data-scroll-header role="main">
      <div id="header">
        <div class="container">
          <div class="logotipo"><a href="#inicio" data-scroll><img src="site/img/ddm_logotipo.png"></a></div>
          <nav class="col10 push1 col-t12 push-t0 col-m12 push-m0">
            <ul class="listMain horizontal">
              <li class="col2"><a href="#inicio" class="active " data-scroll du-scrollspy offset="200">Inicio</a>
              </li>
              <li class="col2"><a href="#productos" data-scroll du-scrollspy offset="200">Productos</a>
              </li>
              <li class="col2"><a href="#educacion" data-scroll du-scrollspy offset="200">Educación</a>
              </li>
              <li class="col2"><a href="#acerca-de-nosotros" data-scroll du-scrollspy offset="200">Acerca de nosotros</a>
              </li>
              <li class="col2"><a href="#contacto" data-scroll du-scrollspy offset="200">Contacto</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div data="#inicio" class="bgslider">
        <div data="site/img/slider1.jpg"></div>
      </div>
    </header>
    <section id="inicio"><a href="#productos" data-scroll class="getInBtn"><img src="site/img/ddm_logotipo.png" alt="DDM">
        <div>Entrar</div></a></section>
    <section id="productos">
      <header role="heading" data-sr="enter bottom scale down 50%">
        <div class="container">
          <h2 class="col12">Productos</h2>
        </div>
      </header>
      <div ng-controller="loadCardiologia" class="container w100"><a href="#" role="contentinfo" ng-click="showThis = !showThis" class="col9 push3 col-t12 push-t0 col-m12 push-m0 card"><span>Cardiología</span></a>
        <div ng-repeat="pr in productos" on-finish-render="slideUpd()" ng-class=" showThis ? 'openPrd' : 'closePrd' " class="col12 infoProductos">
          <div class="container">
            <div class="col3 col-m12">
              <h3>{{pr.Producto}}</h3>
            </div>
            <div class="col9 col-m12">
              <div class="slider multiple"> 
                <div ng-repeat="prs in pr.Productos">
                  <div class="prod">
                    <div ng-show="sintesisShow[prs.Archivo]" class="sintesis">
                      <h4 class="titulo">{{prs.Titulo}}</h4>
                      <p>{{prs.Sintesis}}</p><a ng-click="mostrarSinstesis(false, prs.Archivo)" class="cerrar"><i class="fa fa-close"></i></a><a href="productos/archivos/{{prs.Archivo}}.pdf" target="_blank" class="downloadDoc">Descargar</a>
                    </div>
                    <div ng-click="mostrarSinstesis(true, prs.Archivo)" class="container">
                      <div class="col12">
                        <div class="categoria">{{prs.Categoria}}</div>
                      </div>
                      <div class="col6 col-t12 col-m12">
                        <h4 class="titulo">{{prs.Titulo}}<span>{{prs.tipo}}</span></h4>
                      </div>
                      <div class="col6 col-t12 col-m12"><img ng-src="productos/archivos/{{prs.Archivo}}.jpg" class="w100"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-controller="loadVascular" class="container w100"><a href="#" role="contentinfo" ng-click="showThis = !showThis" class="col9 push3 col-t12 push-t0 col-m12 push-m0 vas"><span>Vascular periférico</span></a>
        <div ng-repeat="pr in productos" on-finish-render="slideUpd()" ng-class=" showThis ? 'openPrd' : 'closePrd' " class="col12 infoProductos">
          <div class="container">
            <div class="col3 col-m12">
              <h3>{{pr.Producto}}</h3>
            </div>
            <div class="col9 col-m12">
              <div class="slider multiple"> 
                <div ng-repeat="prs in pr.Productos">
                  <div class="prod">
                    <div ng-show="sintesisShow[prs.Archivo]" class="sintesis">
                      <h4 class="titulo">{{prs.Titulo}}</h4>
                      <p>{{prs.Sintesis}}</p><a ng-click="mostrarSinstesis(false, prs.Archivo)" class="cerrar"><i class="fa fa-close"></i></a><a href="productos/archivos/{{prs.Archivo}}.pdf" target="_blank" class="downloadDoc">Descargar</a>
                    </div>
                    <div ng-click="mostrarSinstesis(true, prs.Archivo)" class="container">
                      <div class="col12">
                        <div class="categoria">{{prs.Categoria}}</div>
                      </div>
                      <div class="col6 col-t12 col-m12">
                        <h4 class="titulo">{{prs.Titulo}}<span>{{prs.tipo}}</span></h4>
                      </div>
                      <div class="col6 col-t12 col-m12"><img ng-src="productos/archivos/{{prs.Archivo}}.jpg" class="w100"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-controller="loadNeuro" class="container w100"><a href="#" role="contentinfo" ng-click="showThis = !showThis" class="col9 push3 col-t12 push-t0 col-m12 push-m0 neu"><span>Neurovascular</span></a>
        <div ng-repeat="pr in productos" on-finish-render="slideUpd()" ng-class=" showThis ? 'openPrd' : 'closePrd' " class="col12 infoProductos">
          <div class="container">
            <div class="col3 col-m12">
              <h3>{{pr.Producto}}</h3>
            </div>
            <div class="col9 col-m12">
              <div class="slider multiple"> 
                <div ng-repeat="prs in pr.Productos">
                  <div class="prod">
                    <div ng-show="sintesisShow[prs.Archivo]" class="sintesis">
                      <h4 class="titulo">{{prs.Titulo}}</h4>
                      <p>{{prs.Sintesis}}</p><a ng-click="mostrarSinstesis(false, prs.Archivo)" class="cerrar"><i class="fa fa-close"></i></a><a href="productos/archivos/{{prs.Archivo}}.pdf" target="_blank" class="downloadDoc">Descargar</a>
                    </div>
                    <div ng-click="mostrarSinstesis(true, prs.Archivo)" class="container">
                      <div class="col12">
                        <div class="categoria">{{prs.Categoria}}</div>
                      </div>
                      <div class="col6 col-t12 col-m12">
                        <h4 class="titulo">{{prs.Titulo}}<span>{{prs.tipo}}</span></h4>
                      </div>
                      <div class="col6 col-t12 col-m12"><img ng-src="productos/archivos/{{prs.Archivo}}.jpg" class="w100"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-controller="loadCCol" class="container w100"><a href="#" role="contentinfo" ng-click="showThis = !showThis" class="col9 push3 col-t12 push-t0 col-m12 push-m0 cir"><span>Cirugía de columna</span></a>
        <div ng-repeat="pr in productos" on-finish-render="slideUpd()" ng-class=" showThis ? 'openPrd' : 'closePrd' " class="col12 infoProductos">
          <div class="container">
            <div class="col3 col-m12">
              <h3>{{pr.Producto}}</h3>
            </div>
            <div class="col9 col-m12">
              <div class="slider multiple"> 
                <div ng-repeat="prs in pr.Productos">
                  <div class="prod">
                    <div ng-show="sintesisShow[prs.Archivo]" class="sintesis">
                      <h4 class="titulo">{{prs.Titulo}}</h4>
                      <p>{{prs.Sintesis}}</p><a ng-click="mostrarSinstesis(false, prs.Archivo)" class="cerrar"><i class="fa fa-close"></i></a><a href="productos/archivos/{{prs.Archivo}}.pdf" target="_blank" class="downloadDoc">Descargar</a>
                    </div>
                    <div ng-click="mostrarSinstesis(true, prs.Archivo)" class="container">
                      <div class="col12">
                        <div class="categoria">{{prs.Categoria}}</div>
                      </div>
                      <div class="col6 col-t12 col-m12">
                        <h4 class="titulo">{{prs.Titulo}}<span>{{prs.tipo}}</span></h4>
                      </div>
                      <div class="col6 col-t12 col-m12"><img ng-src="productos/archivos/{{prs.Archivo}}.jpg" class="w100"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-controller="loadCGen" class="container w100"><a href="#" role="contentinfo" ng-click="showThis = !showThis" class="col9 push3 col-t12 push-t0 col-m12 push-m0 cirg"><span>Cirugía general y torácica</span></a>
        <div ng-repeat="pr in productos" on-finish-render="slideUpd()" ng-class=" showThis ? 'openPrd' : 'closePrd' " class="col12 infoProductos">
          <div class="container">
            <div class="col3 col-m12">
              <h3>{{pr.Producto}}</h3>
            </div>
            <div class="col9 col-m12">
              <div class="slider multiple"> 
                <div ng-repeat="prs in pr.Productos">
                  <div class="prod">
                    <div ng-show="sintesisShow[prs.Archivo]" class="sintesis">
                      <h4 class="titulo">{{prs.Titulo}}</h4>
                      <p>{{prs.Sintesis}}</p><a ng-click="mostrarSinstesis(false, prs.Archivo)" class="cerrar"><i class="fa fa-close"></i></a><a href="productos/archivos/{{prs.Archivo}}.pdf" target="_blank" class="downloadDoc">Descargar</a>
                    </div>
                    <div ng-click="mostrarSinstesis(true, prs.Archivo)" class="container">
                      <div class="col12">
                        <div class="categoria">{{prs.Categoria}}</div>
                      </div>
                      <div class="col6 col-t12 col-m12">
                        <h4 class="titulo">{{prs.Titulo}}<span>{{prs.tipo}}</span></h4>
                      </div>
                      <div class="col6 col-t12 col-m12"><img ng-src="productos/archivos/{{prs.Archivo}}.jpg" class="w100"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="educacion">
      <header role="heading" data-sr="enter bottom scale down 50%">
        <div class="container">
          <h2 class="col12">Educación</h2>
        </div>
      </header>
      <div class="container w100"><a href="#" role="contentinfo" class="col9 push3 col-t12 push-t0 col-m12 push-m0 prof"><span>Profesionales de la salud</span></a></div>
      <div class="container w100"><a href="#" role="contentinfo" class="col9 push3 col-t12 push-t0 col-m12 push-m0 esp"><span>Especialistas    </span></a></div>
    </section>
    <section id="acerca-de-nosotros">
      <header role="heading" data-sr="enter bottom scale down 50%">
        <div class="container">
          <h2 class="col12">¿Quiénes somos?</h2>
        </div>
      </header>
      <div class="container spacedTop">
        <div class="col9 push3 col-t12 push-t0 col-m12 push-m0">
          <h3>Nuestra compañía</h3>
          <p>Grupo DDM se especializa en nuevas tecnologías biomédicas. Crecemos rápidamente en la distribución de dispositivos médicos, colaborando con hospitales de alta especialización para llevarles siempre los mejores productos con el mejor servicio. Contamos con una cobertura nacional en México y presencia en Centroamérica. Nuestras principales tecnologías biomédicas se enfocan a las áreas de Intervencionismo Vascular, Cirugía de Columna y de alta especialidad.</p>
          <h3>Visión</h3>
          <p>Grupo DDM se proyecta como pieza fundamental en el área de la salud en México y Latinoamérica, introduciendo nuevas tecnologías biomédicas y en el diseño y desarrollo de nuevas soluciones. Manteniéndonos en los más altos niveles de competitividad del sector mediante un servicio especializado, responsable, con calidad humana, a través de personal íntegro, profesional, capacitado y sobre todo comprometido en colaborar directamente con la comunidad médica en beneficio del cuidado de los pacientes.</p>
          <h3>Misión</h3>
          <p>“Ayudar a la Gente a curar a la gente”. Ayudar mediante la alta especialización y profesionalismo de sus colaboradores, brindando un servicio y asesoría responsable con calidad humana a la comunidad médica y sus pacientes, siendo la organización que se distingue por una constante innovación, gran dinamismo y liderazgo en la introducción y desarrollo de nuevas tecnologías para el cuidado de la salud.</p>
          <h3>Valores</h3>
          <div class="container">
            <ul class="col8 col-m12">
              <li>Calidad humana</li>
              <li>Satisfacción del cliente (Médicos y Pacientes)</li>
              <li>Calidad de nuestros productos</li>
              <li>Trabajo en equipo</li>
            </ul>
            <ul class="col4 col-m12">
              <li>Responsabilidad</li>
              <li>Integridad</li>
              <li>Innovación</li>
              <li>Servicio</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section id="nuestras-presentaciones">
      <header role="heading" data-sr="enter bottom scale down 50%">
        <div class="container">
          <h2 class="col12">Nuestras presentaciones</h2>
        </div>
      </header>
      <div class="spacedTop">
            <div class="container presentaciones">
              <div class="push2 col2 push-t1 push-m1"><a href="http://professional.sjm.com/products/sh/heart-occluders/asd-closure-devices" target="blank"><img src="site/img/np/amplatzer.png" alt="" class="w100"></a></div>
              <div class="col2"><a href="" target="blank"><img src="site/img/np/radianalyzer.png" alt="" class="w100"></a></div>
              <div class="col2"><a href="" target="blank"><img src="site/img/np/acist.png" alt="" class="w100"></a></div>
              <div class="col2"><a href="" target="blank"><img src="site/img/np/covidien.png" alt="" class="w100"></a></div>
              <div class="col2"><a href="" target="blank"><img src="site/img/np/meritmedica.png" alt="" class="w100"></a></div>
            </div>
            <div class="container presentaciones">
              <div class="push2 col2 push-t1 push-m1"><a href="" target="blank"><img src="site/img/np/vascular.jpg" alt="" class="w100"></a></div>
              <div class="col2"><a href="" target="blank"><img src="site/img/np/elixir.jpg" alt="" class="w100"></a></div>
              <div class="col2"><a href="" target="blank"><img src="site/img/np/trivascular.jpg" alt="" class="w100"></a></div>
              <div class="col2"><a href="" target="blank"><img src="site/img/np/biometrix.jpg" alt="" class="w100"></a></div>
              <div class="col2"><a href="" target="blank"><img src="site/img/np/oscor.jpg" alt="" class="w100"></a></div>
            </div>
            <div class="container presentaciones">
              <div class="push2 col2 push-t1 push-m1"><a href="" target="blank"><img src="site/img/np/k2m.jpg" alt="" class="w100"></a></div>
              <div class="col2"><a href="" target="blank"><img src="site/img/np/baylis.jpg" alt="" class="w100"></a></div>
              <div class="col2"><a href="" target="blank"><img src="site/img/np/helena.jpg" alt="" class="w100"></a></div>
              <div class="col2"><a href="" target="blank"><img src="site/img/np/argon.jpg" alt="" class="w100"></a></div>
              <div class="col2"><a href="" target="blank"><img src="site/img/np/itgimedical.jpg" alt="" class="w100"></a></div>
            </div>
            <div class="container presentaciones">
              <div class="push2 col2 push-t1 push-m1"><a href="" target="blank"><img src="site/img/np/zipline.png" alt="" class="w100"></a></div>
            </div>
      </div>
    </section>
    <section id="historia">
      <header role="heading" data-sr="enter bottom scale down 50%">
        <div class="container">
          <h2 class="col12">Historia</h2>
        </div>
      </header>
      <div class="container spacedTop">
        <div class="col9 push3 col-t12 push-t0 col-m12 push-m0">
          <h3>Nuestra historia</h3>
          <p>Grupo DDM fue establecido en 1989, con la misión de “ayudar a la gente a curar a la gente”, desde entonces nos hemos enfocado en la introducción en Latinoamérica de nuevas tecnologías biomédicas. Algunas de estas han sido:            </p>
          <h3>Área cardiovascular</h3>
          <ul>
            <li>CVIS, Cardiovascular Imaging Systems, hoy el IVUS de Boston Scientific</li>
            <li>ACS, después Guidant, hoy Abbott Vascular</li>
            <li>Jomed, hoy Abbott Vascular</li>
            <li>IVT, hoy el Cutting Balloon de Boston Scientific</li>
            <li>Amplatzer / AGA Medical, hoy St Jude Medical</li>
            <li>Radi Medical Systems, hoy St jude Medical</li>
            <li>Endicor, después ev3, hoy Covidien</li>
            <li>MTI y ev3, hoy Covidien</li>
          </ul>
          <h3>Otras áreas</h3>
          <ul>
            <li>Prostakat</li>
            <li>Biovac</li>
            <li>Velasmooth</li>
          </ul>
        </div>
      </div>
    </section>
    <section id="contacto">
      <header role="heading" data-sr="enter bottom scale down 50%" class="gmap">
        <div class="container">
          <h2 class="col12">Contacto</h2>
        </div>
      </header>
      <div class="container addresses">
        <div class="col3 col-t4 col-m6 ad">
          <div class="ti">Oficina Matriz</div>
          <div class="dir">San Luis Potosí 96 Col. Roma<br> C.P. 06700, México, D.F.<br>Tel. (+5255) 55841516</div><a href="mailto:info@ddm.com.mx" class="mail">info@ddm.com.mx</a><a href="#" onClick="map.setCenter(19.4142777, -99.1585195); map.setZoom(16)" class="see">Ver en mapa</a>
        </div>
        <div class="col3 col-t4 col-m6 ad">
          <div class="ti">Sucursal Monterrey, N.L.</div>
          <div class="dir">Tel. 8183478730</div><a href="mailto:lauras@ddm.com.mx" class="mail">lauras@ddm.com.mx</a><a href="#" onClick="map.setCenter(25.6732109, -100.309201); map.setZoom(16)" class="see">Ver en mapa</a>
        </div>
        <div class="col3 col-t4 col-m6 ad">
          <div class="ti">Sucursal Gdl, Jalisco</div>
          <div class="dir">Tel. 3336304794</div><a href="mailto:normag@ddm.com.mx" class="mail">normag@ddm.com.mx</a><a href="#" onClick="map.setCenter(20.67359, -103.343803); map.setZoom(16)" class="see">Ver en mapa</a>
        </div>
        <div class="col3 col-t4 col-m6 ad">
          <div class="ti">San Luis Potosí, S.L.P.</div>
          <div class="dir">Tel. 4441271515</div><a href="mailto:disermed@ddm.com.mx" class="mail">disermed@ddm.com.mx</a><a href="#" onClick="map.setCenter(22.1564699, -100.9855409); map.setZoom(16)" class="see">Ver en mapa</a>
        </div>
        <div class="col3 col-t4 col-m6 ad">
          <div class="ti">Hermosillo, Son.</div>
          <div class="dir">Dispositivos Médicos y Catéteres, S.A. de C.V. <br>Tel. 6622170037</div><a href="mailto:hector@dimedica.com.mx" class="mail">hector@dimedica.com.mx</a><a href="#" onClick="map.setCenter(29.0891857, -110.9613299); map.setZoom(16)" class="see">Ver en mapa</a>
        </div>
        <div class="col3 col-t4 col-m6 ad">
          <div class="ti">Veracruz, Ver.</div>
          <div class="dir">Tel. (55) 5555841355</div><a href="mailto:ddm@ddm.com.mx" class="mail">ddm@ddm.com.mx</a><a href="#" onClick="map.setCenter(19.1902778, -96.1533333); map.setZoom(16)" class="see">Ver en mapa</a>
        </div>
        <div class="col3 col-t4 col-m6 ad">
          <div class="ti">Torreón, Coah.</div>
          <div class="dir">Tel. 8712338239</div><a href="mailto:cristinat@ddm.com.mx" class="mail">cristinat@ddm.com.mx</a><a href="#" onClick="map.setCenter(25.5428443, -103.4067861); map.setZoom(16)" class="see">Ver en mapa</a>
        </div>
        <div class="col3 col-t4 col-m6 ad">
          <div class="ti">Mérida, Yuc.</div>
          <div class="dir">ATSA del Sureste, S.A. de C.V. <br>Tel. 9999435555</div><a href="mailto:felipeg@gargom.com.mx" class="mail">felipeg@gargom.com.mx</a><a href="#" onClick="map.setCenter(20.97, -89.62); map.setZoom(16)" class="see">Ver en mapa</a>
        </div>
        <div class="col3 col-t4 col-m6 ad">
          <div class="ti">Mexicali, B.C.</div>
          <div class="dir">Medigrup, S.A. de C.V. <br>Tel. 6865528720</div><a href="mailto:franfer2@prodigy.net.mx" class="mail">franfer2@prodigy.net.mx</a><a href="#" onClick="map.setCenter(32.5551524, -115.5510556); map.setZoom(16)" class="see">Ver en mapa</a>
        </div>
        <div class="col3 col-t4 col-m6 ad">
          <div class="ti">León, Gto.</div>
          <div class="dir">Tel. 4777676344</div><a href="mailto:monicar@ddm.com.mx" class="mail">monicar@ddm.com.mx</a><a href="#" onClick="map.setCenter(21.1326654, -101.6782926); map.setZoom(16)" class="see">Ver en mapa</a>
        </div>
        <div class="col3 col-t4 col-m6 ad">
          <div class="ti">Puebla, Pue.</div>
          <div class="dir">Suministros Médicos de México S.A. de C.V. <br>Tel. 2226044913</div><a href="mailto:luism@sumed.com.mx" class="mail">luism@sumed.com.mx</a><a href="#" onClick="map.setCenter(19.0413068, -98.2061934); map.setZoom(16)" class="see">Ver en mapa</a>
        </div>
        <div class="col3 col-t4 col-m6 ad">
          <div class="ti">Villahermosa, Tab.</div>
          <div class="dir">Tel. 9932933533</div><a href="mailto:juanma@ddm.com.mx" class="mail">juanma@ddm.com.mx</a><a href="#" onClick="map.setCenter(17.987557, -92.929147); map.setZoom(16)" class="see">Ver en mapa</a>
        </div>
        <div class="col3 col-t4 col-m6 ad">
          <div class="ti">Cd. Obregón, Son.</div>
          <div class="dir">Tel. 6441329504</div><a href="mailto:franciscov@ddm.com.mx" class="mail">franciscov@ddm.com.mx</a><a href="#" onClick="map.setCenter(27.4938889, -109.9388889); map.setZoom(16)" class="see">Ver en mapa</a>
        </div>
        <div class="col3 col-t4 col-m6 ad">
          <div class="ti">Chihuahua, Chi.</div>
          <div class="dir">Cardioactiva SC <br>Tel. 6142368007</div><a href="mailto:uliseschairez@mmeusa.com.mx" class="mail">uliseschairez@mmeusa.com.mx</a><a href="#" onClick="map.setCenter(28.6329957, -106.0691004); map.setZoom(16)" class="see">Ver en mapa</a>
        </div>
      </div>
    </section>
    <footer>
      <div class="container"><a href="#">Aviso de privacidad</a></div>
    </footer>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/headjs/1.0.3/head.core.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.swipebox/1.4.1/js/jquery.swipebox.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/scrollReveal.js/2.3.2/scrollReveal.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/7.0.2/js/smooth-scroll.min.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-scroll/0.7.2/angular-scroll.min.js"></script>
    <script src="site/js/angular-slick.js"></script>
    <script src="site/js/gmaps.js"></script>
    <script src="site/js/script.js"></script>
  </body>
</html>